{% load static %}
<!DOCTYPE html>
<html>
  <center>
    <header> 
          <link rel="stylesheet" href="{% static 'home.css' %}"
    </header>
    <div class="logo">
        <h1>Know Your Polling Unit Results</h1>
    </div>
    <div class="bar">
      <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <input class="searchbar" type="text" name="search" placeholder="Input Result ID">
        <button type="submit">Input Result ID</button>
      </form>
    </div>
   
    <div class="buttons">
        <h1 class="button">Polling Unit</h1>
        <h3 class="button" >Result ID : {{polling_unit.result_id}}</h3>
        <h3 class="button">Party Abbreviation : {{polling_unit.party_abbreviation}}</h3>
        <h3 class="button">Party Score : {{polling_unit.party_score}}</h3>
        {{polling_unit.polling_unit_uniqueid}}
     </div>
  </center>
  </body>
  </html>